<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <h1>About jonsnow :</h1>
    <center>
        <h1>The king in the north.....
        </h1>
        
        <h1>The white wolf....</h1>

        <a href="{% url 'something:snow' %}"><h2> click here to more</h2></a>
    </center>
</body>
</html>