<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>.
    <style>
            body
            {
                background-color: black;
                color: white;
            }
    </style>
</head>
<body>
    <center>
        <h1> Lord commander of the night's watch</h1>

        <h1> And the real name is Aegon Targeryn</h1>

        <a href="{% url 'nothing:jon' %}"><h2>go to home page</h2></a>
    </center>
</body>
</html>